<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465054101319-0dgn6rheoffdspjokpbrcv9ock4t4go6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465054101319-0dgn6rheoffdspjokpbrcv9ock4t4go6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465054101319-6qpjm8eehre4nfofub113es6nbauovtl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_D3fOqqQ-LUSPdzWigl4pYEb6XfVD430</string>
	<key>GCM_SENDER_ID</key>
	<string>465054101319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifepointsug.lifepoints</string>
	<key>PROJECT_ID</key>
	<string>lifepoints-b0548</string>
	<key>STORAGE_BUCKET</key>
	<string>lifepoints-b0548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465054101319:ios:fc17ce03d31623c5206662</string>
</dict>
</plist>